table{
    margin-bottom: 5px; 
    font-size: 14pt;
    table-layout: fixed;        
}
.header{
    font-weight:700;
}
.table_text{
    margin-left: 10px;
}
.view-button{
    float: right; 
    margin-right: 10px; 
    text-decoration: none;
}