<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href ="{{ url_for('static', filename='styles.css' )}}" type="text/css" >
    
    {% block title -%}
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Library 1324</title>
    {% endif %}
    {% endblock %}
</head>

<body>
    <div class="login"><a href="auth">Авторизация</a></div>
    <div class="wrapper">
        {% block content -%}

        <header class="header">
            <div class="container">
                <div class="header_body">

                    <div class="header_burger">
                        <span></span>
                    </div>
                    <nav class="header_menu">
                            {%- block menu_main -%}
                        <ul class="header_list" >
                            {% for m in menu %}
                            <li><a href="{{m.url}}" class="header_link">{{m.title}}</a></li>
                            {% endfor %}
                        </ul>
                            {% endblock menu_main -%}
                    </nav>


                </div>
            </div>
        </header>
    </div>
    <div class="clear"></div> 
    <div class="content">
        <div class="container">
                {% if title -%}
            <h1 class="title">{{title}}</h1>
                {% else -%}
            <h1 class="title">Library 1324</h1>
                {% endif %}

                {% endblock -%}
        </div>
    </div>
</body>
</html>