{% extends 'base.html' %}
{% block content %}
{{ super() }}

<script src="/static/book_picture_name.js"></script>
<link rel="stylesheet" href ="/static/book_card.css" type="text/css" >

{% for cat, msg in get_flashed_messages(True) %}
{% if cat == 'success' %}
<div class="flash_cat" style="background-color: rgb(11, 204, 11);">{{msg}}</div>
{% elif cat == 'error' %}
<div class="flash_cat" style="background-color: red;">{{msg}}</div>

{% endif %}
{% endfor %}

{% if role == 'admin' %} 
<div class="form">
<form action="/book_card?edit={{id}}" method="post" enctype="multipart/form-data">
        <div class="title" style="margin-bottom: 8px;">
            <input type="text" style='width: 30%;' name='btitle' value="{{titlet}}">
            <input type="text" style='width: 30%;' name='author' value="{{author}}">            
        </div>

    {% for row in results %}
    {% if id %}
    <table border="1px" style="margin: auto;">
    <tr>
        <td> <!-- Прогружаем картинку -->
            <img class='image' src="/static/pictures/{{row['book_picture']}}" alt="{{row['picture_name']}}" height='390px'>
        </td>
        <div class="psevdo_div"> <!-- создаём поле для описания -->
            <td style="width: 55%;">
                <textarea class="textarea" name="descript" >{{row['descript']}}</textarea>
            </td>
        </div>
        <td>
        <table style="margin: auto;">
            <tr> <!-- Поле с количеством экземпляров -->
                <td class="numbers"><input class='number' type="number" name="number" value="{{row['number']}}"></td>
            </tr>
            <tr> <!-- Поле с годом выпуска произведения -->
                <td class="numbers"><input class='year' type="number" name="year" value="{{row['year']}}"></td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td>                
            <div id="drop-area">
                <input class="upload" type="file" name="book_picture" id="fileElem" 
                            accept="image/*" onchange="myFunction()" value="Upload">
                <label class="button-edit" for="fileElem" >Изменить картинку</label>
                <p id="demo"></p>
                <input type="text" name="book_picture" style="display: none;" id="inp">
            </div>
        </td>
        <td>
            <button class="button-save" value='{{row["id"]}}' type="submit">Сохранить</button>
        </td>
    </tr>
    </table>

    {% else %}
    {{id}}
    <div>Ничего</div>

    {% endif %}
    {% endfor %}

</form>
</div>

{% elif role == 'class' or role == 'student' %}
<div>
    {% for row in results %}
<table>
        <tr>
            <td>
                <img class='image' src="/static/pictures/{{row['book_picture']}}" alt="{{row['picture_name']}}" height='390px'>            
            </td>
            <td style="float:left; width: 40%;">
                <div>{{row['descript']}}</div>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <form action="/book_card?edit={{row['id']}}" method="GET">
                    <button class="btn-rent" name="edit" value='{{row["id"]}}'>Арендовать</button>
                </form>
            </td>
        </tr>

</table>
    {% endfor %}
</div>

{% elif current_user.is_anonymous%}
<div style="margin: auto;">
    Вам стоит <a href="/auth">авторизироваться</a>
</div>


{% endif %}

{% endblock %}
