{% extends 'base.html' %}

{% block content %}
{{ super() }}
<style>
table{margin: 20px; margin: auto; margin-bottom: 5px; font-size: 14pt;}
.header{font-weight:700;}
</style>

<table border="1px"  >
    <tr class="header">
        <td>Название</td>
        <td>Автор</td>
        <td>Год выпуска</td>
        <td>Кол-во</td>
        <td>Описание</td>
        <td>Дата/Время добавления</td>
    </tr>
</table>

<table border="1px">
{% for row in restrictions %}
    <tr>
        <td>{{row["btitle"]}}</td>
        <td>{{row["author"]}}</td>
        <td>{{row["year"]}}</td>
        <td>{{row["number"]}}</td>
        <td>{{row["descript"]}}</td>
        <td>{{row["dt_string"]}}</td>

    </tr>
{% endfor %}
</table>

{% endblock %}