{% extends 'base.html' %}

{% block content %}
{{ super() }}

<style>
table{
    margin: auto; 
    margin-bottom: 5px; 
    font-size: 14pt;
}
.header{
    font-weight:700;
}
.search{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14pt;
}
.flash{
    text-align: center;
    margin: auto;
    font-size: 14pt; 
    color: rgb(213, 213, 213);
    background: rgb(167, 10, 10); 
    border-radius: 10px;
    margin-bottom: 10px;
    width: 20%;
}
a{
    text-decoration: underline;
    color: rgb(213, 213, 213);
}
a:hover{
    color: rgb(167, 167, 167);
}
.btn-search{
    border-radius: 2px;
}
.btn-search:hover{
    box-shadow: 0px 0px 3px black;
}
.btn-edit:hover, .popup:hover{
    box-shadow: 0px 0px 3px black;
}
.QR{
    border-radius: 2px;
    
}
.QR:hover{
    box-shadow: 0px 0px 3px black;
}
x-field{
display:inline;
position:relative;
}
x-field .close {
position:absolute;
padding:0 5px;
right:0;
}
</style>


<script>
    // Когда пользователь нажимает на <div>, открыть popup
    function myFunction(id) {
        var popup = document.getElementById(id);
        popup.classList.toggle("show");
    }
</script>

<form action="/booklist" method="post">
    <div class="search">
        Введите запрос:   
        <x-field>
            <input name="search_btn" placeholder="введите фильтр" type="text" id = "search">
            <span class="close" onclick="this.previousElementSibling.value = ''">
            &times;
            </span>
        </x-field>        
        <button class='btn-search' type="submit">поиск</button>
    </div>
</form>


<table border="1px">
    <tr class="header">
        <td>Название</td>
        <td>Автор</td>
        <td>Год выпуска</td>
        <td>Кол-во</td>
        <td>Описание</td>
        <td>Дата/Время добавления</td>
    </tr>
{% for row in restrictions %}
    <tr>
        <td>{{row["btitle"]}}</td>
        <td>{{row["author"]}}</td>
        <td>{{row["year"]}}</td>
        <td>{{row["number"]}}</td>
        <td>{{row["descript"]}}</td>
        <td>{{row["dt_string"]}}</td>
        <td>
            <form action="/book_card" method="GET">
                <button class="btn-edit" name="edit" value='{{row["id"]}}'>✎</button>
            </form>
        </td>
        <td>

            {% if row["id"] == qr %}
            <a href="{{link}}" download="">
                <button class='QR'name="qr" value='{{row["id"]}}'>Скачать QR-код</button>
            </a>
            {% else %}
            <a href="/booklist?qr={{row['id']}}">
                <button class='QR' name="qr" value='{{row["id"]}}'>Создать QR-код</button>
            </a>
            {% endif %}
        </td>
        
        <td>
            <div class="popup" onclick="myFunction('{{row[0]}}')"><button>✖</button>
                <span class="popuptext" id="{{row['id']}}">Вы уверены что хотите удалить?
                    <form action="/booklist" method="POST">
                        <button>Нет</button>
                        <button name="id" value='{{row["id"]}}'>Да</button>
                    </form>
                </span>
            </div>
        </td>
    </tr>
{% endfor %}
</table>

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}" style="text-align: center; margin: auto; font-size: 14pt;  color: rgb(213, 213, 213);
background: rgb(167, 10, 10); border-radius: 10px; margin-bottom: 10px; width: 20%; margin-top: 20px;">
    {{msg}}
    <a href="/booklist" >Показать все</a>
</div>
{% endfor %}



{% endblock %}