<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='newbook.css' )}}" type="text/css">
    <script src="/static/drag-n-drop.js"></script>
    <script src="/static/book_picture_name.js"></script>
</head>

<body>
    <div class="form">
        {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}" style="text-align: center; 
            font-size: 14pt; background: rgb(164, 164, 164); border-radius:10px">{{msg}}</div>
        {% endfor %}

  
    <form action="/newbook" method="post" enctype="multipart/form-data">
        <title>Newbook</title>
        <h3>Добавить книгу</h3>
              
        {% for p in inputs %}
            <div class="{{p.class}}">
                <input class="{{p.class}}" name="{{p.name}}" type="{{p.type}}" placeholder="{{p.placeholder}}" required>
            </div>
        {% endfor %}
        
        <div id="drop-area">
            <input class="upload" type="file" name="book_picture" id="fileElem" 
                        accept="image/*" onchange="myFunction()" value="Upload">
            <label class="button" for="fileElem" style="margin-left: 3%; text-align: center;">Загрузить картинку</label>
            <p id="demo"></p>
            <input type="text" name="book_picture" style="display: none;" id="inp">
        </div>

        <div class="create_btn">
            <button class="btn-add" type="submit">Добавить</button>
        </div>
        <div class="back">
            <a class="history_back" href="/">Назад</a>
        </div>
    </form>        

    </div>
</body>

</html>
