<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="{{ url_for('static', filename='newbook.css' )}}" type="text/css" >
    <title>{{title}}</title>
</head>
<body>

    <div class="form">
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}" style="text-align: center; 
                                    font-size: 14pt; background: rgb(164, 164, 164);
                                    border-radius:10px">{{msg}}</div>
        {% endfor %}
        <form action="/newbook" method="post">
            <h3>Добавление книги</h3>
            <div class="book_name">
                <input name="title" type="text" id="name" placeholder="Название книги">
            </div>
            <div class="book_author">
                <input name="author" type="text" placeholder="Автор">
            </div>            
            <div class="book_year">
                <input name="year" type="year" id="year"  placeholder="Год выпуска" >
            </div>
            <div class="book_count">
                <input name="number" type="text" id="count" placeholder="Количество">
            </div>
            <div >
                <textarea name="descript"  class="book_description" cols="18" rows="3" placeholder="Описание" ></textarea>
            </div>

            <div class="create_btn">
                <button class="btn-add" type="submit">Добавить</button>
            </div>
            <div class="back">
                <a class="history_back" href="/">Назад</a>
            </div>

        </form>
    </div>
</body>
</html>